.message {
		box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7); 
		background: #222; 
		-webkit-box-shadow: 0px 2px 3px #555;
		-moz-box-shadow: 0px 2px 3px #555;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		color : #A0A0A0;
		padding-bottom: 2%;
		padding-top: 2%;
	
}